*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font: optional;
    color:azure;
}
.wrapper{
    width:100vw;
    height: 100vw;
    background: radial-gradient(
        132.34% 134.34% at 50% 0%,
        #1f3757 0%,
        #131537 100%
    );
}
.wrapper .scoreboard{
  width:700px;
  border:1px solid white;
  border-radius: 15px;
  margin-top:50px;
  height: 80px;
  display:flex;
  justify-content: space-between;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper .scoreboard .result{
    width: 80px;
    height: 64px;
    background-color: aquamarine;
    border-radius: 15px;
    margin-right: 15px;
    margin-top: 7px;
    text-align: justify;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.wrapper .scoreboard .gametitle{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:blueviolet;
    border-radius:15px;
    margin-top:2px;
    margin-left:3px;
    height:75px;
}
.result h1{
    color:rgb(54, 3, 50);
}
.result p{
    color:rebeccapurple;
}
.hands{
    background-image: url("assets/triangle.png");
    background-repeat: no-repeat;
    background-position: center;
    width:476px;
    height:438px;
    flex-wrap:wrap;
    justify-content:space-around;
    display:flex;
    margin-top:100px;

}
.hands .hand{
    cursor:pointer;
    transition:all 0.25s;
}
.hands .hand:hover{
    transform:translate3d(0px, -8px,0px);
}
.contest{
    width:900px;
    display:none;
    margin-top:50px;
     

}
.contest > div {
    flex:1;
}
.contest h1{
    color:white;
    font-size:20px;
    margin-top:20px;
    margin-bottom:50px;
    text-align:center;
}
.contest  .handImageContainer {
    display:flex;
    justify-content:center;

}
.referee{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.referee h1{
    font-size:45px;

}
.newGame{
    background-color:white;
    padding:12px 24px;
    border-radius:6px;
    cursor:pointer;
    color:cadetblue;
    transition:all 15px;


}
.newGame:hover{
 
    background-color:bisque;
    transform:translate3d(0px, -2px, 0px);
}
